# Docker client
DOCKER_CLIENT_TIMEOUT=
COMPOSE_HTTP_TIMEOUT=

# General
APP_ENV=
TZ=

# DB (모든 컨테이너에서 동일 호스트명 사용)
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# AWS (로컬 개발만 평문 가능)
AWS_REGION=
SES_FROM_EMAIL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# PYTHONPATH (컨테이너 내부 경로 통일)
PYTHONPATH_COMMON=


# JWT
JWT_SECRET=
JWT_ACCESS_MINUTES=
JWT_REFRESH_DAYS=
JWT_ALG=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_LEEWAY_SECONDS=
ACCESS_TOKEN_EXPIRE_MINUTES=
TOKEN_PEPPER=

# PASSWORD
PASSLIB_SCHEMES=
PASSLIB_DEPRECATED=
BCRYPT_ROUNDS=
ARGON2_TIME_COST=
ARGON2_MEMORY_COST=
ARGON2_PARALLELISM=

# CRYPTO
CRYPTO_DATA_ENC_KEY_V1=
CRYPTO_DATA_ENC_SECRET_ID=
CRYPTO_DATA_ENC_SECRET_FIELD=