# General
APP_ENV=
TZ=


# API
API_PORT=
API_LOG_LEVEL=
JWT_SECRET=
JWT_ACCESS_MINUTES=
JWT_REFRESH_DAYS=
ADMIN_EMAIL=a


# DB
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=


# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_STREAM_ALERTS=
REDIS_STREAM_DELIVERIES=


# Gateway
GATEWAY_PORT=


# Discord
DISCORD_WEBHOOK_URL=