[mysqld]
# 기본 문자셋/콜레이션
character-set-server = utf8mb4
collation-server     = utf8mb4_unicode_ci

# 타임존
default-time-zone    = '+09:00'

# InnoDB 세팅 (개발용은 기본으로도 충분하지만 샘플)
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 64M

# SQL 모드 (개발 편의성을 위해 STRICT 모드 해제)
# sql_mode=NO_ENGINE_SUBSTITUTION

# 로그 관련
slow_query_log = 1
long_query_time = 2

[client]
default-character-set = utf8mb4
